[paths]
source =
    jwt_oauth2lib
    oauth2_jwt_provider

[run]
source =
    jwt_oauth2lib
    oauth2_jwt_provider
omit =
    *migrations*
    *tox*
    setup.py
[report]
sort = Cover
skip_covered = True
show_missing = True